rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Basic rules for the application
    
    match /mahasiswa/{document=**} {
      allow read, write: if true;
    }
    
    match /jadwal/{document=**} {
      allow read, write: if true;
    }
    
    match /booking/{document=**} {
      allow read, write: if true;
    }
    
    match /distribusi/{document=**} {
      allow read, write: if true;
    }
    
    match /activity/{document=**} {
      allow read, write: if true;
    }
    
    match /live_scans/{document=**} {
      allow read, write: if true;
    }
  }
}
